@font-face{
    font-family: Newfont;
    src: url(/src/Mycomponents/Inter-Medium.otf);
    }
  .progressbar{
    list-style-type: none;
    display: flex;
    }
    .Finallist{
    margin-top: 40px;
    margin-left: 38%;
    }
    .Finallist1{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border:2px solid #00000057;
      background-color: rgb(102, 77, 229);
      color: white;
      
    }
    .Finallist2{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:2px solid #00000057;
    background-color: rgb(102, 77, 229);
    color: white;
    
    }
    .Finallist3{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border:2px solid #00000057;
      background-color: rgb(102, 77, 229);
      color: white;
    }
    
    .Finallist4{
    height: 30px;
    width: 30px;
    border:2px solid #00000057;
    border-radius: 50%;
    background-color: rgb(102, 77, 229);
    color: white;
    
    }
    .FinalLine1{
      margin-top: 15px;
      border-top: 2px solid rgb(102, 77, 229);
      width: 70px;
    }
    .FinalLine2{
      margin-top: 15px;
      border-top: 2px solid rgb(102, 77, 229);
      width: 70px;
    }
    
    .FinalLine3{
      margin-top: 15px;
      border-top: 2px solid rgb(102, 77, 229);
      width: 70px;
    }
    .Numbers{
    margin-left: 9px;
    }