.Firstbox{
    height: 160px;
    width: 160px;
    border: 2px solid #00000057;
    border-radius: 4px;
    margin-left: 20px;
}
.Firstbox:hover{
border-color:rgb(102, 77, 229);
}
.Form3Textheading{
    margin-top: 10px;
    margin-left: 15px;
}
.Form3TextParagraph{
    margin-top: 5px;
    margin-left: 15px;
   
}
.avatar1{
  height: 20px;
  margin-left: 15px;
  margin-top: 10px;
}